/****************réglage génerale*****************/

@font-face {
  font-family: "Raleway";
  src: url(fonts/Raleway-Light.ttf);
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 1rem;
}

#container {
  width: 100%;
  max-width: 1200px;
}

/*********************corps de la page************************/

header h1 {
  font-size: 0.8em;
}
.titre_principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logo {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
#logo img {
  width: 60px;
  height: 30px;
}
h1 + p {
  margin-top: 0px;
  font-size: 0.7em;
}

/*navigation*/
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
nav li {
  margin-right: 0px;
}
nav a {
  font-size: 0.9em;
  color: black;
  padding-top: 10px;
  text-decoration: none;
  padding-right: 10px;
  margin-right: 30px;
}
strong {
  text-decoration: overline;
  color: #0065fc;
  background-color: none;
  margin-top: 0px;
}
nav a:hover {
  color: blue;
}
/**********************bouton de recherche***************************/
.barre_de_recherche {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.bouton_de_recherche {
  display: flex;
  flex-direction: row;
  border: 1px solid #deebff;
  width: 20px;
  height: 18px;
  align-items: center;
  border-radius: 20px;
}

  
}
.bouton {
  position: relative;
  display: flex;
  top: 0px;
  left: 10px;
}

/*****************************rubrique*************************/
.rubrique {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.8em;
  padding: 0px;
  margin-right: 0px;
}
p,
i {
  font-size: 0.6em;
}
i {
  color: #0065fc;
  border: #f2f2f2;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
a em {
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  background-color: #deebff;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rubrique a {
  display: flex;
  justify-content: flex-start;

  border: 2px solid #f2f2f2;
  padding: 5px;
  border-radius: 20px;
  text-align: justify; /*width*/
  text-decoration: none;
  margin-right: 10px;
  color: black;
}

/*************************$*section hebergement et les plus populaires*******************************/
section {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#hébergements {
  background-color: #f2f2f2;
  height: auto;
  width: 800px;

  border: none;
}
section img {
  border: 1px solid white;
  width: 100px;
  height: 100px;
  margin-right: 26px;
  padding: 0px 0px 30px 0px;
  justify-content: ;
  border-radius: 20px 20px;
}

#fig1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
h3 {
  font-size: 0.5rem;
}

#les_plus_populaires {
  background-color: #f2f2f2;
  width: 300px;
}

#fig2 {
  display: flex;
  flex-direction: column;
}
.fa-star{
  color:blue;

}

figure{
  height:98px ;
  width: 100%;
}





/*********************activités a marseille******************/

#fig3 {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

div img {
  width: 150px;
  height: 100px;
}

/**************************footerrrrrrr*************************/
.background {
  background-color: #f2f2f2;
}

#renseignements {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  width: 100%;
  max-width: 1200px;
  margin: 40px 0;
}
