/****************réglage génerale*****************/

@font-face {
  font-family: "Raleway";
  src: url(fonts/Raleway-Light.ttf);
}
/*@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');*/

body {
  font-family: "Raleway", sans-serif;
  margin: auto;
  padding: 0 40px;
}
h1 {
  font-size: 1em;
  font-weight: bold;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
  position: relative;
}

h3 {
  font-size: 0.7em;
  font-weight: bold;
}

h4 {
  font-size: 0.6em;
  font-weight: bold;
}

/*a:hover {
  padding-top: 10px;
  color: #0065fc;
  border-top: 2px solid;
}*/

p {
  font-size: 0.6em;
}

/*#container {
  width: 100%;
  max-width: 1400px;*/

/**header**/
#logo img {
  width: 70px;
  height: 30px;
  padding: 20px 0;
}

.titre_principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/**nav**/
.les_trois {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 77px;
  padding-top: 20px;
}

nav a {
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  margin-right: 40px;
}
nav a:hover {
  color: #0065fc;
}
/*ul strong {
      text-decoration: overline;
      color: #0065fc;
      background-color: none;
      margin-top: 0px;*/

/*button*/

form i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 20px;
  color: black;
  width: 25px;
  height: 10px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  font-size: 0.7em;
  margin-left: 1px;
  position: relative;
  margin-right: -0.4em;
  padding: 6px 0px 7px 11px;
}

#text {
  height: 21px;

  border: 1px solid #f2f2f2;
  position: relative;
  color: black;
}

#rechercher {
  background: #0065fc;
  color: white;
  border-radius: 0 20px 20px 0;
  border: none;
  width: 25px;
  height: 25px;
  padding-right: 70px;
  font-size: 0.7em;
  position: absolute;
}
#rechercher:hover {
  cursor: pointer;
  border: none;
}

/**icone**/
/**choice**/

.choice {
  display: flex;
  flex-direction: row;
  font-size: 0.6em;
  font-weight: 700;
  max-width: 100%;
  padding-top: 15px;
}
.the-choices {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f2f2f2;
  padding-right: 20px;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 30px;
  color: black;
  font-size: 1em;
  background: none;
  position: relative;
}

.button i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #0065fc;
  width: 25px;
  height: 25px;
  border: 1px solid #f2f2f2;
  margin-right: 15px;
  background-color: #deebff;
  transform: scale(1.2);
  margin-left: -1.1em;
}

.button:hover {
  background-color: #0065fc;
  cursor: pointer;
}

.info {
  padding-top: 10px;
}
.info i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 20px;
  color: #0065fc;
  margin: 0px 0px 0px 0px;
}

/**MAIN SECTION**/
main {
  width: 100%;
  margin: auto;
  padding-top: 10px;
}

/******* ACCOMMODATIONS SECTION *******/

#accommodations {
  display: flex;
  width: 100%;
  padding: 0 40px;
}

#hosting-in-marseille {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3; /*je sais pas*/
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 0;
}

#hosting-in-marseille h2,
h3 {
  padding-left: 45px;
  padding-top: 5px;
  margin-top: 0;
}

#hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
}

#hotels a {
  padding: 0px 0px;
  text-decoration: none;
  color: black;
}

#hotels a:hover {
  text-decoration: none;
  border: none;
  padding: 0;
  color: inherit;
  opacity: 0.7;
}

#hosting-in-marseille article {
  width: 246px;
  height: 200px;
  background-color: white;
  border: 3px solid #f2f2f2;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #ccc;
  margin-bottom: 25px;
}
article h4 {
  padding: 5px 0 0 10px;
  margin: 5px 0 0;
}

article p {
  padding: 0 0 0 10px;
  margin: 5px 0 0 0;
}

#hosting-in-marseille article figure {
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 0;
}
/*****/
article figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.review {
  display: flex;
  padding: 6px 0 10px 10px;
}

.fa-star {
  color: #0065fc;
  font-size: 0.6em;
  padding-right: 1px;
}
.grey {
  color: #f2f2f2;
}

/******ASIDE******/

aside {
  display: flex;
  flex-direction: column;
  flex: 1.2; /**?**/
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10px 30px 10px 25px;
  margin-left: 30px;
}

#title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px 20px;
}

#popular {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
#popular a {
  padding: 0;
}

#popular a:hover {
  text-decoration: none;
  border: none;
  padding: 0;
  color: inherit; /***?***/
  opacity: 0.7;
}
aside article {
  display: flex;

  width: 80%;
  height: 145px;
  background-color: white;
  border: 3px solid #f2f2f2;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #ccc;
  margin-bottom: 20px;
}
aside figure {
  width: 132px;
  height: 100%;
  margin: 0;
  padding: 0;
}

aside figure img {
  object-fit: cover; /****/
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.description {
  display: flex;
  flex-direction: column;
  position: relative;
}

aside .review {
  display: flex;
  position: absolute;
  top: 90px;
}
#popular a {
  text-decoration: none;
  color: black;
}

/***activities new**/
#titles {
  margin-left: 70px;
}

.activities {
  max-width: 1300px;
  width: 100%;
  margin: 30px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-template-rows: repeat(2, 200px);
  gap: 20px;
  grid-template-areas:
    "a b d e "
    "a c d f";
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 65px;
}
.vieux-port {
  grid-area: a;

  /*box-shadow: 0 0 3px rgba(0, 0green, Oblue, 0.8);*/
  /*justify-items: center;
  align-items: center;*/
}
.fort-pomegues {
  grid-area: b;
}
.iles-frioul {
  grid-area: c;
  margin-top: 0px;
  padding-top: 80px;
}
.parc-calanques {
  grid-area: d;
  height: 100%;
}
.notre-dame {
  grid-area: e;
  padding-bottom: 80px;
}
.parc-lonchamp {
  grid-area: f;
  margin-top: -5px;
}
.activities-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px 20px 0 0;
}
.activities-content {
  padding: 15px;
  background: royalblue;
  border-radius: 0 0 20px 20px;
  color: black;
  background-color: white;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 10px #ccc;
}
.vieux-port:hover {
  text-decoration: none;
  border: none;
  padding: 0;
  color: inherit;
  opacity: 0.7;
}
.fort-pomegues:hover {
  text-decoration: none;
  border: none;
  padding: 0;
  color: inherit;
  opacity: 0.7;
}
.iles-frioul:hover {
  text-decoration: none;
  border: none;
  padding: 0;
  color: inherit; /***?***/
  opacity: 0.7;
}
.parc-calanques:hover {
  text-decoration: none;
  border: none;
  padding: 0;
  color: inherit; /***?***/
  opacity: 0.7;
}
.notre-dame:hover {
  text-decoration: none;
  border: none;
  padding: 0;
  color: inherit; /***?***/
  opacity: 0.7;
}
.parc-lonchamp:hover {
  text-decoration: none;
  border: none;
  padding: 0;
  color: inherit; /***?***/
  opacity: 0.7;
}

/**************************footerrrrrrr*************************/

#renseignements {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;

  padding: 20px 0 20px 80px;
  background-color: #f2f2f2;
  width: 100%;
  min-width: 768px;
  position: absolute;
}

#à_propos {
  margin-left: -30px;
  margin-right: 200px;
}

#nos_hébergements {
  margin-right: 200px;
}
#assistance {
  /*padding-right: 389px;*/
}
/***********RESPONSIVE***********/
/**X-SMALL DEVICES -MOBILE**/

@media all and (max-width: 576px) {
  /***** Code CSS à inclure *****/
  body {
    max-width: 576px;
    min-width: 200px;

    width: 100%;
    padding: 0px 0px;
  }
  /********header******/
  header {
    padding: 0px 20px;
  }
  #logo {
    max-width: 576px;
    min-width: 100px;
    height: none;
  }
  h1,
  p {
    margin-right: 20px;
  }
  .titre_principal {
    max-width: 576px;
    display: flex;
    flex-direction: column;
  }

  .les_deux {
    width: 100%;
    max-width: 576px;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-shrink: none;
    padding-right: 0 30px 0 0pxs;
    padding-left: 5px;
  }
  .unique {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  nav a:hover {
    padding-bottom: 0px;
    color: #0065fc;
    border-bottom: 2px solid;
    padding-bottom: 20px;
  }
  #search-bar {
  }

  .choice {
    display: flex;
    flex-direction: column;
  }
  .the-choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    padding: 0px 0px;
  }
  /*******MAIN********/
  main {
    max-width: 576px;
    width: 100%;
    margin: 0px 0px;
  }
  #accommodations {
    max-width: 576px;
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
    flex-direction: column-reverse;
  }

  #popular {
    text-align: center;
    justify-content: center;
    margin-left: 40px;
  }

  aside article {
    flex-shrink: none;
  }
  aside {
    padding: 0;
    width: 100%;
    border-radius: 0px;
    margin: 0;
  }
  #hosting-in-marseille article {
    width: 360px;
  }
  #hosting-in-marseille {
    border-radius: 0;
    background-color: white;
  }
  #hosting-in-marseille h2,
  h3 {
    padding-top: 25px;
    text-align: left;
  }
  a {
    text-align: center;
  }
  h4 {
    text-align: start;
  }
  #hotels p {
    text-align: start;
  }

  /******ACTIVITIES MARSEILLE*******/
  #activities-in-marseille {
    border-radius: 0;
    padding: 0 0 0 0;
    margin: 0;
    width: 100%;
  }
  .activities {
    max-width: 576px;
    width: 100%;
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: repeat (6, 120px);
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";

    margin: 0px;
  }
  .activities-images {
    height: 125px;
  }
  #renseignements {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 0px;
    padding-left: 20px;
  }
  #à_propos {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 40px;
  }
  #assistance {
    padding-bottom: 20px;
  }
  .notre-dame {
    padding-bottom: 0;
  }
  .iles-frioul {
    padding-top: 0;
  }
}

/**SMALL DEVICES -TABLET**/
@media all and (min-width: 577px) and (max-width: 768px) {
  /***** Code CSS à inclure *****/
  /******header*******/
  body {
    margin: 0;
    padding: 0 20px;
    height: auto;
  }
  header {
    padding: 0 20px;
  }
  .les_trois {
    margin-right: 0;
  }
  .the-choices {
    max-width: 768px;
    flex-wrap: wrap;
    gap: 15px;
  }
  /*******main********/
  #accommodations {
    width: 100%;
    max-width: 768px;
    padding: 0;
    flex-direction: column;
  }
  #hosting-in-marseille {
    border-radius: 0;
    padding-top: 15px;
  }
  aside {
    border-radius: 0;
    margin-left: 0;
  }
  #popular {
    padding-left: 50px;
    width: 100%;
  }
  /********Activités à marseille*******/
  .activities {
    max-width: 768px;
    width: 100%;
    margin: 20px 20px;
    display: grid;
    height: 200px;
    grid-template-columns: repeat(2, 240px);
    grid-template-rows: repeat(3, 134px);
    grid-template-areas:
      "a b"
      "c d"
      "e f";
    padding-bottom: 300px;
  }
  #renseignements {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 0px;
    padding-left: 20px;
  }
  #à_propos {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 40px;
  }
  #assistance {
    padding-bottom: 20px;
  }
  .notre-dame {
    padding-bottom: 0;
  }
  .iles-frioul {
    padding-top: 0;
  }
}

/**MEDIUM DEVICES**/

@media all and (min-width: 769px) and (max-width: 992px) {
  /***** Code CSS à inclure *****/
}
/**LARGE DEVICES**/
@media all and (min-width: 993px) and (max-width: 1200px) {
  /*******header**********/
  .titre_principal {
    padding-top: 10px;
  }
  nav a:hover {
    border-top: 2px solid;
    padding-top: 13px;
  }

  .les_trois {
    margin-right: 0;
  }

  /******main******/
  #accommodations {
    max-width: 1200px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  #hosting-in-marseille {
    padding-bottom: 20px;
    padding-top: 15px;
  }

  /******les plus populaires******/
  aside {
    margin-left: 10px;
    margin-right: 0px;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
  }

  #popular {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  #title {
    padding-right: 25px;
  }
  #aside article {
    width: 200px;
  }
  #popular {
    width: 300px;
  }

  /*****activités a marseille*******/
  #activities-in-marseille {
    max-width: 1200px;
    width: 100%;
  }
  .activities {
    max-width: 1200px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 100px);
    grid-template-areas:
      "a b c"
      "d e f";
    gap: 50px;
    row-gap: 100px;
    margin-bottom: 20px;
  }
  .iles-frioul {
    padding-top: 0;
  }
  .notre-dame {
    padding-bottom: 0;
  }
  .activities-content {
    padding: 10px;
  }
  /*******renseignements**********/
  #renseignements {
    width: 100%;
  }
  .background {
    width: 100%;
    background-color: #deebff;
  }
}
@media all and (min-width: 1201px) {
  #accomodations {
    padding-left: 0;
    justify-content: center;
  }
}
